
section{
    background-color: #4d4949;
    left: 318px; 
    width: 550px;
    height: 868px;
    top: 287px;
    left: 318px;
    padding-top: 1cm;
#inner{
    width: 317px;
    height: 437.22px;
    top: 386.78px;
    left: 117px;
    background-color: rgb(31, 29, 29);
}  
}
button{
    width: 115px;
    height: 34px;
    border-radius: 6px;
   }
   #linkedin{
    background-color: aqua;
   }
footer{
    width: 317px;
    height: 437.22px;
    top: 386.78px;
    left: 117px;
}
.aboutinterest{
   font-size: 16px;
   font-weight: 700;
   line-height: 24x;
   text-align: left;
}
#half{
    width: 317px;
    height: 399px;
    top: 361px;
    left: 116px;
    background-color: rgb(31, 29, 29);
}
img{
    width: 317px;
    height: 317px;
    top: 44px;
    left: 116px;
    border-radius: 10px 10px 0px 0px
}
#wait {
    width: 247px;
    height: 201px;
    top: 554px;
    left: 151px;
    padding-top: 0cm;
    
}
h1, h2, h3, p{
    color: rgb(239, 239, 247);
}
#smith{
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.26px;
    text-align: center;
    color: #FFFFFF;
}
p{
    font-family: Inter;
font-size: 10.24px;
font-weight: 400;
line-height: 15.36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.aboutinterest{
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}
h2{
    font-family: Inter;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 15.49px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: azure;
}
h4{
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 400;
    line-height: 15.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: brown;
}
footer{
    background-color: black;
    height: 1cm;
    color: #FFFFFF;
}
