#taskbar{
    display: flex;
    gap: 0%;
}
.coco{
    color: #445964;

}

#list{
    display: flex;
    gap: 50%;
    float: right;
    padding-left: 30%;
}
.icon{
    gap: 12cm;
    img{
        margin: 1%;
    }
}
#mat{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    line-height: 42.19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #445964;
    }
#art{
    float: right;
    width: 705px;
    height: 380px;
    top: 289px;
    left: 963px;
    gap: 0px;
    opacity: 0px;
    
}
#skills{
    display: grid;
    grid: 100px/auto auto auto auto;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    line-height: 42.19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #445964; 
}
#camp{
    display: flow-root;
    height: 100px;
    margin-top: 2cm;
    height: 900px;
}
ul{
    list-style-type: none;
}

#foot{
    display: flex;
    gap: 50px;
}
#saliba{
    width: 310px;
    height: 65px;
    top: 700px;
    left: 251px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    background: #263138;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    border-radius: 10px;
    
       
}
#a,#b,#c{
    h3{
        font-family: Roboto;
font-size: 36px;
font-weight: 900;
line-height: 42.19px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 98px;
height: 42px;
top: 431px;
left: 318px;
gap: 0px;
opacity: 0px;
    }
    p{
    }
}
#a,#c{
    background: #263138;
    color: #FFFFFF;
    border-radius: 10px;
}
#b{
    background: #445964;
    color: #FFFFFF;
    border-radius: 10px;
}
h4{
    width: 328px;
height: 50px;
top: 909px;
left: 796px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 36px;
font-weight: 900;
line-height: 42.19px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}